{% extends 'base.html' %}

{% block content %}
  <h1>{% trans "Chatbots und Quellen verwalten" %}</h1>

  {% for group in groups %}
    <h3>{% trans "Quellen" %}</h3>
    <ul>
      {% for context in group.collection_set.all %}
        <li>
          <a href="{% url 'context:manage-collection' context.slug %}">{{ context.name }} ({{context.slug}})</a>
        </li>
      {% endfor %}
    </ul>
    <h3>{% trans "Chatbots" %}</h3>
    <ul>
      {% for bot in group.chatbot_set.all %}
        <li><a href="{% url 'admin:chat_chatbot_change' bot.pk %}">{{ bot.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
